.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: auto;
}