header {
  background-color: var(--primary-color-offset);
  padding: 8px 24px;
  /* box-shadow: var(--box-shadow-vertical); */
  border-bottom: solid 1px transparent;
  border-image: var(--border-gradient-horizontal) 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 10;
  top: 0;
}

#logo {
  width: 150px;
}

nav {
  list-style: none;
  display: flex;
  gap: 16px;
}
