#rockers-page {
  min-height: 100vh;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#rockers-page-content {
  position: relative;
  height: 100%;
  padding: 24px;
}

#rockers-filter {
  position: fixed;
  top: 13vh;
  height: 72vh;
  width: 300px;
  background-color: var(--primary-color-offset);
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
}

#rockers-container {
  margin-left: 324px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rockers-title {
  font-family: 'Endor', sans-serif;
  border-bottom: 1px solid transparent;
  border-image: var(--border-gradient-horizontal) 1;
  padding: 8px;
}