#rockers-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#rockers-page-content {
  position: relative;
  height: 100%;
  padding: 24px;
  margin-bottom: auto;
}

#rockers-page-content:has(.no-cards-msg) {
  margin-bottom: 0;
}

#rockers-container {
  margin-left: 324px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-cards-msg {
  font-size: 1.5rem;
}

/* #rockers-title {
  border-bottom: 1px solid transparent;
  border-image: var(--border-gradient-horizontal) 1;
  padding: 8px;
} */

#rockers-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 24px;
}

#rockers-cards .card {
  height: auto;
}

#rockers-cards .card-title {
  font-size: 1.2rem;
  font-weight: normal;
  padding: 0.2rem 0.7rem;
}

