:root {
  --primary-color: #121212;
  --primary-color-offset: #1a1a1a;
  --secondary-color: #f3f3f5;
  --secondary-color-offset: #d5d5d5;
  --accent-color-dark: #990000;
  --accent-color-light: #dc2626;
  --primary-text-color: #f3f3f5;
  --secondary-text-color: #121212;
  --box-shadow-vertical: 0px 4px 4px rgba(0, 0, 0, 0.6);
  --border-gradient-horizontal: linear-gradient(to right, #000 0%, #f3f3f5 30%, #f3f3f5 70%, #000 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

@font-face {
  font-family: 'Endor';
  src: url('./assets/fonts/Endor.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}